services:
  api:
    extends:
      file: recipes/docker-compose.yml
      service: api
    profiles:
      - 'test'
    environment:
      NB_GRAPH_USERNAME: 'DBUSER'
      NB_GRAPH_ADDRESS: graph
      NB_RETURN_AGG: false
    volumes:
      - './recipes/scripts/api_entrypoint.sh:/usr/src/api_entrypoint.sh'
    entrypoint:
      - '/usr/src/api_entrypoint.sh'
    secrets:
      - db_user_password

  graph:
    extends:
      file: recipes/docker-compose.yml
      service: graph
    profiles:
      - 'test'
    volumes:
      - 'graphdb_home:/opt/graphdb/home'
      - './recipes/scripts:/usr/src/neurobagel/scripts'
      - './recipes/vocab:/usr/src/neurobagel/vocab'
      - './neurobagel_examples/data-upload/pheno-bids-derivatives-output:/data'
    environment:
      NB_GRAPH_USERNAME: 'DBUSER'
    secrets:
      - db_admin_password
      - db_user_password

  federation:
    extends:
      file: recipes/docker-compose.yml
      service: federation
    profiles:
      - 'test'
    volumes:
      - './recipes/local_nb_nodes.json:/usr/src/local_nb_nodes.json:ro'

secrets:
  db_admin_password:
    file: ./recipes/secrets/NB_GRAPH_ADMIN_PASSWORD.txt
  db_user_password:
    file: ./recipes/secrets/NB_GRAPH_PASSWORD.txt

volumes:
  graphdb_home:
