name: component tests

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  component-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Create .env file
        run: |
          echo -e "NB_API_QUERY_URL=https://federate.neurobagel.org/" > .env

      - name: build
        run: |
          npm ci
          npm run build

      - name: Run component tests
        uses: cypress-io/github-action@v6
        with:
          component: true
