name: end to end tests

on:
  push:
    branches:
      - maint-18
  pull_request:
  workflow_dispatch:

jobs:
  e2e-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up node env
        uses: actions/setup-node@v4.0.1
        with:
          node-version: 20
      
      - name: Create .env file
        run: |
          echo -e "NB_API_QUERY_URL=${{ vars.NB_API_QUERY_URL }}\nNB_IS_FEDERATION_API=${{ vars.NB_IS_FEDERATION_API }}" > .env

      - name: build
        run: npm install && npm run build

      - name: Run end to end tests
        uses: cypress-io/github-action@v6
        with:
          wait-on: http://localhost:4173
          start: npm run preview
          component: false

