name: update examples

on:
  pull_request_target:
  workflow_dispatch:

jobs:
  generate-example-files:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout PR head branch
        uses: actions/checkout@v6
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
          persist-credentials: false  
          submodules: true

      - name: Set up node env
        uses: actions/setup-node@v6
        with:
          node-version: 20

      - name: Create .env file
        run: |
          echo -e "NB_API_QUERY_URL=https://federate.neurobagel.org/\nNB_ENABLE_AUTH=true\nNB_QUERY_CLIENT_ID=mockclientid" > .env

      - name: build
        run: npm install && npm run build

      - name: Run end to end tests
        uses: cypress-io/github-action@v6
        with:
          wait-on: http://localhost:5173
          start: npm run preview
          spec: cypress/e2e/UpdateExamples.cy.ts
          component: false

      - name: Rename artifacts
        run: |
          mv cypress/downloads/neurobagel-query-results_*.tsv cypress/downloads/neurobagel-query-results_YYYYMMDDHHMMSS.tsv
          mv cypress/downloads/neurobagel-query-results-with-URIs_*.tsv cypress/downloads/neurobagel-query-results-with-URIs_YYYYMMDDHHMMSS.tsv

      - name: Upload test artifacts
        uses: actions/upload-artifact@v6
        with:
          name: query-tool-results
          path: cypress/downloads/*

  update-query-tool-results:
    runs-on: ubuntu-latest
    needs: generate-example-files
    steps:
      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.NB_BOT_ID }}
          private-key: ${{ secrets.NB_BOT_KEY }}
          owner: ${{ github.repository_owner }}

      - name: Checkout neurobagel_examples repository
        uses: actions/checkout@v6
        with:
          repository: neurobagel/neurobagel_examples
          token: ${{ steps.generate-token.outputs.token }}

      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          name: query-tool-results
          path: query-tool-results

      - name: Create Pull Request
        id: create_pr
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ steps.generate-token.outputs.token }}
          commit-message: Update `query-tool-results` files
          title: Update `query-tool-results` files
          body: "This PR updates the `query-tool-results` files with the latest changes."
          base: main
          branch: update-query-tool-results
          committer: NeuroBagel Bot <neurobagel-bot[bot]@users.noreply.github.com>
          labels: _bot
